.gradientBirthday {
  background: rgba(255, 155, 155);
  background: linear-gradient(
    54deg,
    rgba(255, 155, 155, 1) 14%,
    rgba(255, 188, 145, 1) 100%
  );
}

.gradientParty {
  background: rgba(166, 147, 235);
  background: linear-gradient(
    54deg,
    rgba(166, 147, 235, 1) 14%,
    rgba(218, 147, 235, 1) 100%
  );
}

.gradientRelax {
  background: rgba(147, 202, 235);
  background: linear-gradient(
    54deg,
    rgba(147, 202, 235, 1) 14%,
    rgba(147, 221, 235, 1) 100%
  );
}

.gradientFun {
  background: rgba(137, 221, 148);
  background: linear-gradient(
    54deg,
    rgba(137, 221, 148, 1) 14%,
    rgba(191, 236, 146, 1) 100%
  );
}
